.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picture {
  background-color: gray;
  width: 60px;
  height: 80px;
}

.img_Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 10px;
  margin-top: 2rem;
}

.description {
  width: 70vw;
  text-align: center;
  margin-top: 4rem;
  border-top: 1px solid lightgray;
  padding-top: 2rem;
}

.product_and_add_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.button_add {
  color: white;
  background-color: black;
  cursor: pointer;
  border: none;
  transition: background-color 0.4s ease;
}

.button_add:hover {
  background-color: rgb(227, 41, 72);
}

.product_Name {
  margin-bottom: 1rem;
}
