@import "../color-config.scss";

.Navigation {
  display: flex;
  width: 100px;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $color-black;
  color: $color-white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition:
    transform 0.2s ease-in-out,
    width 0.2s ease-in-out;
  overflow: hidden;

  @media screen and (max-width: 680px) {
    transform: translateX(-100%);
  }

  &_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    overflow-y: auto;

    &_head {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &_logo {
        width: 90px;
        height: 60px;
        margin-bottom: 0.1rem;
        background-image: url("/assets/svg/favicon.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.2s ease-in-out;

        &:active {
          width: 82px;
          height: 82px;
        }
        &:hover {
          transform: scale(1.1);
          filter: drop-shadow(0 0 6px rgba($color-white, 0.3));
        }
      }
      .logoOpen {
        width: 280px;
        height: 120px;
        margin-bottom: 0.1rem;
        background-image: url("/assets/svg/favicon.svg");

        transition: all 0.2s ease-in-out;

        &:active {
          width: 82px;
          height: 82px;
        }
        &:hover {
          transform: scale(1.1);
          filter: drop-shadow(0 0 6px rgba($color-white, 0.3));
        }
      }
    }
    &_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 32px auto;
      width: 100%;
      height: 100%;

      gap: 1.4rem;

      .Separate {
        width: 80%;
        height: 1px;
        background-color: $color-white;
        opacity: 10%;
        margin: auto;
      }
      &_menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        gap: 1.4rem;
        list-style: none;

        .linkTo {
          display: flex;
          align-items: center;
          margin: auto;
          width: 320px;
          height: 40px;
          opacity: 40%;

          &:hover {
            opacity: 100%;
          }

          .LinkName {
            font-size: 1.1rem;
            font-weight: 500;
            margin-left: 37px;
          }
          .NavIco {
            display: flex;
            width: 26px;
            height: 26px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0 0 0 37px;
          }
          .home_NavIcon {
            background-image: url("/assets/svg/icons/home.svg");
          }
          .account_NavIcon {
            background-image: url("/assets/svg/icons/clients.svg");
          }
          .products_NavIcon {
            background-image: url("/assets/svg/icons/products.svg");
          }
          .order_NavIcon {
            background-image: url("/assets/svg/icons/order.svg");
          }
        }

        .active {
          border-left: solid 3px $color-white;
          border-right: solid 3px rgba(0, 0, 0, 0);
          opacity: 100%;
          .NavIco {
            margin: 0 0 0 34px;
          }
        }
      }
      &_logout {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.4rem;

        .OpenBar {
          width: 26px;
          height: 26px;
          margin-left: 37px;
          background: none;
          background-position: left;
          background-repeat: no-repeat;
          background-size: contain;
          border: none;
          opacity: 60%;
          cursor: pointer;
          transition: transform 0.1s ease-in-out;
          color: $color-white;
          font-size: 1.1rem;

          &:hover {
            opacity: 100%;
            transform: scale(1.1);
          }

          &_icon {
            width: 26px;
            height: 26px;
            background-image: url("/assets/svg/icons/navhover.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        .CloseBar {
          width: 26px;
          height: 26px;
          margin-left: 37px;
          background: none;
          background-position: left;
          background-repeat: no-repeat;
          background-size: contain;
          border: none;
          opacity: 60%;
          cursor: pointer;
          transition: transform 0.1s ease-in-out;
          color: $color-white;
          font-size: 1.1rem;

          &:hover {
            opacity: 100%;
            transform: scale(1.1);
          }

          &_icon {
            width: 26px;
            height: 26px;
            background-image: url("/assets/svg/icons/navhoverclose.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        &_btn {
          width: 26px;
          height: 26px;
          margin-left: 37px;
          background: none;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          border: none;
          opacity: 60%;
          cursor: pointer;
          transition: transform 0.1s ease-in-out;
          color: $color-white;
          font-size: 1.1rem;
          gap: 37px;

          &:hover {
            transform: scale(1.1);
            opacity: 100%;
          }
          .TextGapDeconnexion {
            width: max-content;
            margin-left: 64px;
          }
        }

        .LorIA {
          background-image: url("/assets/svg/icons/LorIA.svg");
        }

        .LogOutBtn {
          background-image: url("/assets/svg/icons/logout.svg");
        }
        .OpenSliderBtn {
          background-image: url("/assets/svg/icons/navhover.svg");
        }
      }
    }
  }
}
.Open {
  width: 320px;
}
