@import "./color-config.scss";

.accountTitle {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.information_container,
.modification_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 89%;
  margin: 30px auto 50px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto;
  max-height: 600px;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));

  .checkbox {
    width: 20px;
  }

  .categoryTitle,
  .categoryTitle-salon,
  .categoryTitle-info,
  .categoryTitle-salon-info,
  .categoryTitle-modi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 245px;
    height: 43px;
    background-color: rgba($color-black, 1);
    color: $color-light;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    max-width: 90%;
    .categoryTitle,
    .categoryTitle-salon,
    .categoryTitle-info,
    .categoryTitle-salon-info,
    .categoryTitle-modi {
      max-width: 100%;
    }
  }

  @media (max-width: 480px) {
    padding: 1rem;
    gap: 1rem;
  }

  div {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #ddd;

    h2 {
      font-size: 1.2rem;
    }

    p {
      text-align: left;
      font-size: 20px;
      font-weight: 600;
      color: #000000;
      margin: 1rem 0;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;

    input {
      width: 100%;
      padding: 1rem;
      margin-top: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;

    button {
      width: 80%;
      padding: 0.7rem 1.5rem;
      font-size: 25px;
      background-color: rgba($color-black, 1);
      border-radius: 8px;
      cursor: pointer;
      font-weight: 700;
      color: $color-light;
      margin: 0 auto;

      &:hover {
        background-color: rgba($color-black, 0.1);
      }
    }
  }
}
