body,
html {
  height: 100%;
  margin: 0;
}

.chatbot-container {
  position: fixed;
  bottom: 10%; // Réduit la marge en bas pour agrandir le container
  right: 10%; // Réduit la marge à droite pour agrandir le container
  width: 80%; // Augmente la largeur du container
  height: 80%; // Augmente la hauteur du container
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: black;
}

.message-area {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.message.user-message {
  background-color: #cfd8dc;
  align-self: flex-end;
}

.input-area {
  display: flex;
  padding: 10px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.input-area input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.input-area button {
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #d7bf85;
  color: white;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #c1a76c;
}

.button-chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: none;
  background-color: #d7bf85;
  color: white;
  cursor: pointer;
  z-index: 3;
}

.button-chatbot:hover {
  background-color: #c1a76c;
}
