@import "./color-config.scss";
body,
html {
  height: 100%;
  margin: 0;
}

.chatbot-container {
  position: fixed;
  bottom: 10%; // Réduit la marge en bas pour agrandir le container
  right: 10%; // Réduit la marge à droite pour agrandir le container
  width: 80%; // Augmente la largeur du container
  height: 80%; // Augmente la hauteur du container
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0px 16px rgba($color-black, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 1rem;
  background: linear-gradient(to bottom right, #f7f7f7, #e6e6e6);
}

.message-area {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.message.user-message {
  align-self: flex-end;
  background-color: #c1a76c;
}

.input-area {
  display: flex;
  padding: 10px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.input-area input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.input-area button {
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #d7bf85;
  color: black;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-area button:hover {
  background-color: #c1a76c;
}

.button-chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: none;
  background-color: #d7bf85;
  color: white;
  cursor: pointer;
  z-index: 3;
}

.button-chatbot:hover {
  background-color: #c1a76c;
}

.message.bot-message {
  background-color: #d7bf85; /* Couleur différente pour les messages du bot */
  align-self: flex-start;
}

.message {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.message-area::-webkit-scrollbar {
  width: 8px;
}

.message-area::-webkit-scrollbar-thumb {
  background-color: #5c6bc0;
  border-radius: 4px;
}

.message-area::-webkit-scrollbar-track {
  background-color: #f7f7f7;
}
