// Colors
$color-primary: #f5bc2e;
$color-primary-hover: #cc9c21;
$color-secondary: #f5bc2e;
$color-secondary-hover: #f5bc2e;
$color-white: #cfcfcf;
$color-white-hover: #b0b0b0;
$color-light: #fefefe;
$color-light-hover: #efefef;
$color-black: #101010;
$color-black-hover: #202020;
$color-grey: #b0b0b0;
$color-grey-hover: #515151;

$color-red: #c44a4a;
$color-green: #2eb43e;
$color-orange: #c5874d;

// Pages
$bg-color: $color-black;
$font: 'Montserrat', sans-serif;

