// Colors
$color-primary: #ffffff;
$color-primary-hover: #fefefe;
$color-secondary: #ffffff;
$color-secondary-hover: #fefefe;
$color-white: #cfcfcf;
$color-white-hover: #b0b0b0;
$color-light: #ffffff;
$color-light-hover: #fefefe;
$color-black: #000000;
$color-black-hover: #101010;
$color-grey: #b0b0b0;
$color-grey-hover: #515151;

$color-red: #c44a4a;
$color-green: #2eb43e;
$color-orange: #c5874d;

// Pages
$bg-color: $color-black;
$font: "Montserrat", sans-serif;
