@import "./color-config.scss";

section {
  display: flex;
  flex-direction: column;
  margin: 100px 0 50px;
  height: 90vh;
  justify-content: center;
  width: 100%;
  padding: 1rem;

  .containererror {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    h1 {
      font-family: $font;
      color: $color-black;
      font-size: 2rem;
      text-align: center;
      width: fit-content;
    }
    .message {
      font-family: $font;
      color: $color-black;
      font-size: 1rem;
      font-weight: 300;
      text-align: center;

      a {
        color: $color-primary;
        font-weight: 500;
      }
    }
  }
}
