@import "../color-config.scss";

@keyframes translateHorizontal {
  0% {
    transform: translateX(50rem);
  }
  50% {
    transform: translateX(0rem);
  }
  90% {
    transform: translateY(-7rem);
  }
  100% {
    transform: translateX(50rem);
  }
}
@keyframes translateGolden {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.product_container_list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 3rem;
  width: 100%;
  justify-content: center;
}

.logo_class {
  width: 210px;
  height: 200px;
  margin: auto;
}

.productCard {
  background: #ffffff;
  font-family: $font;
  border-radius: 12px;
  box-shadow: 1px 1px 10px 0.1px rgba(0, 0, 0, 0.33);
  transition: 0.5s;
}

.productCard:hover {
  transform: scale(0.98);
  transition: 0.5s;
}

.productCard_value {
  display: flex;
  flex-direction: column;
}

.border_bottom {
  height: 100px;
  background: $color-black;
}

.products_page {
  width: 100%;
}

.products_container_filter {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
//----------------- element card ------------
.card {
  width: 100px;
  margin-left: 40rem;
  height: 50px;
  background: linear-gradient(to right, #fbf5b7, #aa771c, #bf953f);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.705);
  font-size: 15px;
  font-weight: 900;
}

.banner_product {
  display: flex;
  flex-direction: row-reverse;
  background-color: $color-black;
  overflow: hidden;
  width: 110%;
  height: 4rem;
  margin-left: -1rem;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
}
.banner_gold {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #fbf5b7, #aa771c, #bf953f);
  width: 50%;
}
.banner_gold p {
  animation: translateGolden 6s ease infinite;
  font-size: 1.2rem;
}
.banner_black {
  width: 50%;
}
.banner_black p {
  color: white;
  margin-top: 0.5rem;
  font-family: $font;
  margin-left: 2rem;
  animation: translateHorizontal 10s ease infinite;
}

.banner_black {
  background: $color-black;
  text-align: center;
  height: 20rem;
  width: 45rem;
  display: flex;
  overflow: hidden;
}

.logo_class {
  background: url("/assets/svg/favicon_black.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.button_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  margin-top: 0.5rem;
  width: 200px;
  height: 25px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 10px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.button_cart:hover {
  box-shadow:
    0 2px 2px 1px #fcfcfc,
    0 3px 4px #d6d7d9,
    0 -3px 3px #cecfd1,
    0 -6px 4px #fefefe,
    inset 0 0 3px 3px #cecfd1;
}

.button_cart:active {
  box-shadow:
    0 4px 3px 1px #fcfcfc,
    0 6px 8px #d6d7d9,
    0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe,
    inset 0 0 5px 3px #999,
    inset 0 0 30px #aaa;
}

@media screen and (max-width: 420px) {
  .banner_black p {
    color: white;
    margin-top: 0.5rem;
    font-family: $font;
    font-size: 0.6rem;
    margin-left: 0;
    animation: translateHorizontal 15s ease infinite;
  }
  .banner_gold p {
    animation: translateGolden 6s ease infinite;
    font-size: 0.6rem;
    text-align: center;
  }
  .banner_black {
    background: $color-black;
    text-align: center;
    height: 20rem;
    width: 23rem;
  }
}
