@import "../color-config.scss";

.SuccessLogIn {
  background-color: $color-black;
  transform: translateY(0%);
  animation: LogInDone 3.4s ease-in-out forwards;

  &_container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    width: 100%;
    padding: 1rem;

    opacity: 0%;
    animation: LogInDoneFadeIn 3s ease-in-out forwards;

    .containererror {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      h1 {
        font-family: $font;
        color: $color-white;
        font-size: 2rem;
        text-align: center;
        width: fit-content;
      }
      .message {
        font-family: $font;
        color: $color-white;
        font-size: 1rem;
        font-weight: 300;
        text-align: center;

        a {
          color: $color-primary;
          font-weight: 500;
        }
      }
    }
  }
}

@keyframes LogInDone {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes LogInDoneFadeIn {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
